---
layout: default
image-gallery:
  -  image: /assets/images/carousel/01_Linehouse_CentralWorld.jpg
     url: /work/centralworld-Bangkok
  -  image: /assets/images/carousel/02_Linehouse_CentralWorld.jpg
     url: /work/centralworld-Bangkok
  -  image: /assets/images/carousel/03_Linehouse_Fish Market.jpg
     url: /work/fish-market
  -  image: /assets/images/carousel/04_Linehouse_Foodie_Social_at_Hong_Shou_Fang.jpg
     url: /work/foodie-social-hong-shou-fang
  -  image: /assets/images/carousel/05_Linehouse_Foodie_Social_at_Hong_Shou_Fang.jpg
     url: /work/foodie-social-hong-shou-fang
  -  image: /assets/images/carousel/06_Linehouse_Cape_Drive_Residence.jpg
     url: /work/cape-drive-residence
  -  image: /assets/images/carousel/07_Linehouse_YingnFlo.jpg
     url: /work/yingnflo-hk
  -  image: /assets/images/carousel/08_Linehouse_YingnFlo.jpg
     url: /work/yingnflo-hk
  -  image: /assets/images/carousel/09_Linehouse_WeWork_Weihai.jpg
     url: /work/wework_weihai_lu
  -  image: /assets/images/carousel/10_Linehouse_Herschel_Supply_Shibuya.jpg
     url: /work/herschel_supply_shibuya
  -  image: /assets/images/carousel/11_Linehouse_JNBY.jpg
     url: /work/jnby
  -  image: /assets/images/carousel/12_Linehouse_JohnAnthony.jpg
     url: /work/john_anthony
  -  image: /assets/images/carousel/13_Linehouse_Tingtai_Teahouse.jpg
     url: /work/tingtai-tea-house
  -  image: /assets/images/carousel/14_Linehouse_Tingtai_Teahouse.jpg
     url: /work/tingtai-tea-house
  -  image: /assets/images/carousel/15_Linehouse_gaga_coast.jpg
     url: /work/gaga-coast-shanghai
  -  image: /assets/images/carousel/16_Linehouse_social_space.jpg
     url: /work/social_space
  -  image: /assets/images/carousel/17_Linehouse_BaseHall.jpg
     url: /work/basehall-hong-kong
---

<div class="content">
  <header="blog-header">
    <div class="blog-header">
      <div class="blog-title"><a href="/"><img src="/assets/images/main-site-images/linehouse-logo.png"></a></div>
    </div>
  </header>
  {% include menu-strip.html %}

  <div id="description" class="description'"hidden="hidden">
    Linehouse is an architecture and interior design practice established in 2013 by Alex Mok (Chinese-Swedish) and Briar Hickling (from New Zealand). Both have completed extensive work in Asia and abroad.
  </div>
	
  <div id="image-strip" class="media">
    {% if page.image-gallery %} 
      <div class="flexslider">
        <ul class="slides">
          {% for silder in page.image-gallery %}
            <li>
                <a href="{{ silder.url }}">
                  <img src="{{ silder.image }}" />
                </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
</div>


  <script>
    $(window).load(function() {
      $('.flexslider').flexslider({
        animation: "fade"
      });
	  imageStripFade();
    });
	$(window).resize(function() {
      //imageStripFade();
    });
	{% if page.image-gallery %} 
      function imageStripFade() {
        var targetHeight = $("#content").height();
        var currentHeight = $("#image-strip").height();
        var toChopOff = currentHeight - targetHeight;
        document.getElementById('image-strip').setAttribute("style","height: "+targetHeight+"px");
        document.getElementById('fadeout').setAttribute("style","bottom: "+toChopOff+"px");
      }
    {% endif %}
  </script>
