---
layout: default
image-gallery:
  -  image: /assets/images/projects/yingnflo-hk/Linehouse_Yingnflo_025_lo_header.jpg
     url: /work/yingnflo-hk
  -  image: /assets/images/projects/gaga-coast-shanghai/Linehouse_gaga_coast_017_lo.jpg
     url: /work/gaga-coast-shanghai
  -  image: /assets/images/projects/langham-hong-kong/Linehouse_Langham_011_lo.jpg
     url: /work/langham-hong-kong
  -  image: /assets/images/projects/blackstar-pastry-shanghai/Linehouse_BlackStarPastry_012_LO-RES.jpg
     url: /work/black-star-pastry-shanghai-flagship
  -  image: /assets/images/projects/creative-office-shanghai/Linehouse_Jianye_009_lo.jpg
     url: /work/creative-space-shanghai
  -  image: /assets/images/projects/mixup-shanghai/WOsaka_Linehouse_002_LQ.jpg
     url: /work/mixup-shanghai
  -  image: assets/images/main-site-images/slider/Linehouse_Bestseller_008_lo.jpg
     url: /work/bestseller
  -  image: assets/images/main-site-images/slider/Linehouse_Social-Space_Slider_11.jpg
     url: /work/social_space
  -  image: assets/images/main-site-images/slider/Linehouse_JNBY_Slider_8.jpg
     url: /work/jnby
  -  image: assets/images/main-site-images/slider/Linehouse_BaseHall_15_LO.jpg
     url: /work/basehall-hong-kong
  -  image: assets/images/main-site-images/slider/Linehouse_Teahouse_Slider_1.jpg
     url: /work/tingtai-tea-house
  -  image: assets/images/main-site-images/slider/Linehouse_JohnAnthony_Slider_2.jpg
     url: /work/house-of-john-anthony
  -  image: assets/images/main-site-images/slider/Linehouse_WeWork2_Slider_3.jpg
     url: /work/wework-weihai
  -  image: assets/images/main-site-images/slider/Linehouse_HerschelShibuya_Slider_4.jpg
     url: /work/herschel-supply-tokyo
  -  image: assets/images/main-site-images/slider/Linehouse_JohnAnthony_Slider_5.jpg
     url: /work/house-of-john-anthony
---

<div class="content">
  <header="blog-header">
    <div class="blog-header">
      <div class="blog-title"><a href="/"><img src="/assets/images/main-site-images/linehouse-logo.png"></a></div>
    </div>
  </header>
  {% include menu-strip.html %}

  <div id="image-strip" class="media">
    {% if page.image-gallery %} 
      <div class="flexslider">
        <ul class="slides">
          {% for silder in page.image-gallery %}
            <li>
                <a href="{{ silder.url }}">
                  <img src="{{ silder.image }}" />
                </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
</div>


  <script>
    $(window).load(function() {
      $('.flexslider').flexslider({
        animation: "fade"
      });
	  imageStripFade();
    });
	$(window).resize(function() {
      //imageStripFade();
    });
	{% if page.image-gallery %} 
      function imageStripFade() {
        var targetHeight = $("#content").height();
        var currentHeight = $("#image-strip").height();
        var toChopOff = currentHeight - targetHeight;
        document.getElementById('image-strip').setAttribute("style","height: "+targetHeight+"px");
        document.getElementById('fadeout').setAttribute("style","bottom: "+toChopOff+"px");
      }
    {% endif %}
  </script>
