<div class="menu-wrapper">
	<header class="menu-strip">
		<div class="menu-links">
			<span><a href="/">Home</a></span>
			<span {% if page.title == 'Profile' %}class="underlined"{% endif %}><a href="/profile/">Profile</a></span>
			<span {% if page.title == 'Projects' %}class="underlined"{% endif %}><a href="/projects/">Projects</a></span>
			<span {% if page.title == 'Press' %}class="underlined"{% endif %}><a href="/press/">Press</a></span>
			<span {% if page.title == 'Contact' %}class="underlined"{% endif %}><a href="/contact/">Contact</a></span>
		</div>
	</header>
</div>