<div class="menu-wrapper">
	<header class="menu-strip">
		<div class="menu-links">
			<a href="/">Home</a>
			<a href="/profile/"{% if page.title == 'Profile' %} style="font-weight: 800"{% endif %}>Profile</a>
			<a href="/projects/" {% if page.title == 'Projects' %} style="font-weight: 800"{% endif %}>Projects</a>
			<a href="/press/"{% if page.title == 'Press' %} style="font-weight: 800"{% endif %}>Press</a>
			<a href="/contact/"{% if page.title == 'Contact' %} style="font-weight: 800"{% endif %}>Contact</a>
		</div>
	</header>
</div>