<div class="cf frame">
  {% for post in paginator.posts %}
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
      <div class="article-item">
        <header class="post-header">
          <h2 class="post-title" itemprop="name"><a href="{{ post.url }}" itemprop="url">{{ post.title }}</a></h2>
        </header>
        <section class="post-excerpt" itemprop="description">
          <img src="{{ post.square_image }}">
		  <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
        </section>
		<div style="background-image: url({% if post.square_image %}{{ post.square_image }}{% endif %})"></div>
	  </div>
    </article>
  {% endfor %}
</div>