---
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body itemscope itemtype="http://schema.org/Article">
    {% include header.html %}
		<header="blog-header">
			<div class="blog-header">
		      <div class="blog-title"><img src="/assets/images/main-site-images/linehouse-logo.png"></div>
		  </div>
		</header>
		{% include menu-strip.html %}
    <main class="content" role="main">
      <article class="post">
		<section>
		  <a name="topofpage"></a>
		  <div class="post-response">
			{{ content }}
		  </div>
		</section>
        </div>
      </article>
    </main>
	{% include footer.html %}
  </body>
</html>
