---
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body itemscope itemtype="http://schema.org/Article">
    {% include header.html %}
    <main class="content" role="main">
      <article class="post">
        {% if page.header-image %}
        <div class="article-image">
          <div class="post-image-image" style="background-image: url({% if page.header-image %}{{ page.header-image }}{% endif %})">
            Article Image
          </div>
          <div class="post-meta">
            <h1 class="post-title">{{ page.title }}</h1>
			<h1 class="post-title"><span style="font-weight: 100; font-size: 20px;">LINE</span><span style="font-size: 20px;">HOUSE</span></h1>
            <div style="text-align:center">
              <a href="#topofpage" class="topofpage"><i class="fa fa-angle-down"></i></a>
            </div>
          </div>
        </div>
        <script>
          (function ($) {
              "use strict";
              $(document).ready(function(){
                  var $window = $(window),
                      $image = $('.post-image-image');
                  $window.on('scroll', function() {
                      var top = $window.scrollTop();

                      if (top < 0 || top > 1500) { return; }
                      $image
                          .css('transform', 'translate3d(0px, '+top/3+'px, 0px)')
                          .css('opacity', 1-Math.max(top/700, 0));
                  });
                  $window.trigger('scroll');

                  var height = $('.article-image').height();
                      $('.post-content').css('padding-top', height + 'px');

                  $(function() {
                    $('a[href*=#]:not([href=#])').click(function() {
                      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                        var target = $(this.hash);
                        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                        if (target.length) {
                          $('html,body').animate({
                            scrollTop: target.offset().top
                          }, 500);
                          return false;
                        }
                      }
                    });
                  });

              });

          }(jQuery));
        </script>
        {% else %}
        <div class="noarticleimage">
          <div class="post-meta">
            <h1 class="post-title">{{ page.title }}</h1>
            <div class="cf post-meta-text">
            </div>
          </div>
        </div>
        <br>
        <br>
        <br>
        {% endif %}
		
        <section class="post-content">
          <div class="post-reading">
            <span class="post-reading-time"></span> read
          </div>
		  
          <a name="topofpage"></a>
          {{content}}
        </section>
		
		  <div style="position: float; float: left; width: 45%;">
			{{ content }}
		  </div>
		  <div class="flexslider" style="position: float; float: right; width: 45%;">
		  <ul class="slides">
		    {% for image in page.image-gallery %}
			  <li>
			    <img width="100%" src="{{image}}" />
			  </li>
		    {% endfor %}
		  </ul>
		  </div>
        </section>
		
		<section style="float: clear;">
			<div width="50%" class="flexslider" style="position: float; float: left;">
			  <ul class="slides">
			    {% for image in page.image-gallery %}
				  <li>
				    <img src="{{image}}" />
				  </li>
			    {% endfor %}
			  </ul>
			</div>
			<div width="50%" class="flexslider" style="position: float; float: right;">
			  <ul class="slides">
			    {% for image in page.image-gallery %}
				  <li>
				    <img src="{{image}}" />
				  </li>
			    {% endfor %}
			  </ul>
			</div>
		</section>

		<!-- section width="100%">
		  <div>
		  {% for image in page.image-gallery %}
		    <p><img src="{{image}}" width="100%"></p>
		  {% endfor %}
	      </div>
		</section -->
        
		<div class="bottom-teaser cf">
          <div class="isLeft">
            <h5 class="index-headline"><span>Linehouse</span></h5>
              <p class="detail">Published <time datetime="{{ page.date | date: "%F %R" }}">{{ page.date | date_to_string }}</time></p>
          
          {% for social in site.social %}
            {% if social.share_url != null %}
              <p class="detail"><a class="icon-{{ social.icon }}" href="{{ social.share_url }}{{ social.share_title }}{{page.title | cgi_escape}}{{ social.share_link }}{{site.url}}{{page.id}}"
                onclick="window.open(this.href, '{{ social.icon }}-share', 'width=550,height=255');return false;">
              <i class="fa fa-{{ social.icon }}"></i>  &nbsp; share on {{ social.icon }}</p>
              </a>
            {% endif %}
          {% endfor %}
          </div>
		  {{/post}}
          <div class="isRight">
            <h5 class="index-headline"><span>Recent Projects</span></h5>
            {% for post in site.posts limit:3 %}
			  <p class="detail"><a href="{{ post.url }}" itemprop="url">{{ post.title }}</p>
		    {% endfor %}
          </div>
        </div>
      </article>
    </main>
	
	{% include menu-strip.html %}
	
    <div class="bottom-closer">
      <div class="background-closer-image" {%if site.cover %} style="background-image: url({{ site.cover }})"{% endif %}>
      Image
    </div>
    <div class="inner">
    </div>
    </div>
  </body>
</html>
